html,body {
        height:100%;
        background: #ab0e0e;
}

header {
        display:block;
        background:#ebe313;
        padding:10px 0px;
}

section {
        width: 79%;
        float: left;
        overflow: auto;
        padding-bottom: 60px;
        padding-top:30px;
        color: black;
}

footer {
        position: relative;
        margin-top: -50px;
        height: 40px;
        padding:5px 0px;
        clear: both;
        background: #ebe313;
        text-align: center;
        color: black;
}